.result 
    .container 
        h2 Мы всегда достигаем обещанного результата
        p.result-utp И вот почему:
        #tabs-result.tabs
            .tabs-title.d-f
                p.tabs-title-item.active  Высокая эффективность работы
                p.tabs-title-item Надежность
                p.tabs-title-item Опыт и репутация
                p.tabs-title-item Комплексный подход
                p.tabs-title-item 100% контроль
                p.tabs-title-item Выгода
            .tabs-content.d-f
                .tabs-item.hide.show
                    p.text-small Даём юридические финансовые гарантии выполнения своих обязательств. Более 60 высококвалифицированных специалистов в штате - мы обладаем ресурсами и технологиями для решения любой задачи точно в срок.
                .tabs-item.hide
                    p.text-small Даём юридические финансовые гарантии выполнения своих обязательств. Более 60 высококвалифицированных специалистов в штате - мы обладаем ресурсами и технологиями для решения любой задачи точно в срок. 222
                .tabs-item.hide
                    p.text-small Даём юридические финансовые гарантии выполнения своих обязательств. Более 60 высококвалифицированных специалистов в штате - мы обладаем ресурсами и технологиями для решения любой задачи точно в срок. 333
                .tabs-item.hide
                    p.text-small Даём юридические финансовые гарантии выполнения своих обязательств. Более 60 высококвалифицированных специалистов в штате - мы обладаем ресурсами и технологиями для решения любой задачи точно в срок. 444
                .tabs-item.hide
                    p.text-small Даём юридические финансовые гарантии выполнения своих обязательств. Более 60 высококвалифицированных специалистов в штате - мы обладаем ресурсами и технологиями для решения любой задачи точно в срок. 555
                .tabs-item.hide
                    p.text-small Даём юридические финансовые гарантии выполнения своих обязательств. Более 60 высококвалифицированных специалистов в штате - мы обладаем ресурсами и технологиями для решения любой задачи точно в срок. 666