<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <meta name="csrf-param" content="_csrf-frontend">
  <meta name="description" content="Комплексный интернет-маркетинг">
  <meta name="robots" content="index, follow">
  <meta name="keywords" content="keywords" />
  <title>Комплексный интернет-маркетинг</title>
  <link rel="stylesheet" href="css/style.min.css" />
</head>