.advantages#_advantages
    .container
        h2 Преимущества работы с нами
        .advantage-row.d-f.flex-wrap
            .advantage-col
                .advantage.flex-column.ai-c
                    img(src="./images/advantage-1.svg", alt="Увеличиваем продажи, звонки и заявки с Вашего сайта")
                    p Увеличиваем продажи, звонки <br> и заявки с Вашего сайта
            .advantage-col
                .advantage.flex-column.ai-c
                    img(src="./images/advantage-2.svg", alt="Используем современные технологии и собственные разработки")
                    p Используем современные технологии <br> и собственные разработки
            .advantage-col
                .advantage.flex-column.ai-c
                    img(src="./images/advantage-3.svg", alt="Всегда оправдываем ожидания наших Клиентов")
                    p Всегда оправдываем ожидания <br> наших Клиентов
            .advantage-col
                .advantage.flex-column.ai-c
                    img(src="./images/advantage-4.svg", alt="Увеличиваем продажи, звонки и заявки с Вашего сайта")
                    p Более 100 благодарственных <br> писем от Клиентов
            .advantage-col
                .advantage.flex-column.ai-c
                    img(src="./images/advantage-5.svg", alt="Увеличиваем продажи, звонки и заявки с Вашего сайта")
                    p Безупречная репутация <br> на digital-рынке
            .advantage-col
                .advantage.flex-column.ai-c
                    img(src="./images/advantage-6.svg", alt="Увеличиваем продажи, звонки и заявки с Вашего сайта")
                    p Помогаем достигать имиджевых <br> и финансовых целей