.teams
    .container
        h2 Наша команда
        .teams-row.d-f.flex-wrap 
            .teams-col
                .team
                   .team-image(style='background:url("images/team-1.png") no-repeat top / cover') 
                   .team-info
                    p Sheila Shelton
                    span.text-small Должность
            .teams-col
                .team
                   .team-image(style='background:url("images/team-2.png") no-repeat top / cover') 
                   .team-info
                    p Heather Hoffman
                    span.text-small Должность
            .teams-col
                .team
                   .team-image(style='background:url("images/team-3.png") no-repeat top / cover') 
                   .team-info
                    p Brittany Fuller
                    span.text-small Должность