$content-width: 1520px;
$padding-container-desktop: 50px;
$padding-container-tab: 40px;
$padding-container-mobile: 20px;

$media-laptop: 1280px;
$media-tab: 1200px;
$media-min-tab: 991px;
$media-middle: 768px;
$media-mobile: 575px;
$media-little: 360px;
