.about#_about
    .container.d-f.jc-sb.ai-c 
        .about-content
            h2 О компании
            p Наша веб-студия создаёт сайты с высокой конверсией, которые легко вывести в ТОП поисковых систем. Наша команда полностью ведем Ваш проект от и до, а также помогаем сотрудникам на стороне клиента. Вы можете обратиться в веб-студию Дом сайтов для запуска своего онлайн бизнеса в Интернете. Если у вас уже есть сайт — мы его оптимизируем, превратим в полноценный и эффективный инструмент бизнеса.
        .about-image.d-f.ai-c.jc-c
            img(src="./images/about.png", alt="О компании")