.cases#_cases
    .container 
        h2 Наши кейсы и портфолио
        .cases-slider.swiper
            .swiper-wrapper
                each key, index in ["Результаты продвижения «Оценочной компании №1»", "Результаты продвижения «Оценочной компании №1» 2", "Результаты продвижения «Оценочной компании №1» 3", "Результаты продвижения «Оценочной компании №1» 4", "Результаты продвижения «Оценочной компании №1» 5", "Результаты продвижения «Оценочной компании №1» 6", "Результаты продвижения «Оценочной компании №1» 7", "Результаты продвижения «Оценочной компании №1» 8", "Результаты продвижения «Оценочной компании №1» 9"]  
                    .swiper-slide
                        .cases-card     
                            .cases-card__top.d-f.jc-sb.ai-fs
                                .cases-card__title
                                    h3=key
                                    p «Оценочная компания №1» – это оценочная компания, в спектр предоставляемых услуг которой входит полный набор услуг по оценке движимого и недвижимого имущества.
                                img(src="./images/case.png", alt="Результаты продвижения «Оценочной компании №1»")
                            .cases-card__content.d-f.jc-sb
                                .cases-card__goal
                                    p.text-small.title Цели:
                                    p.text-small Увеличение количества обращений с помощью комплексных решений интернет-маркетинга. Для выполнения поставленных задач была выбрана стратегия продвижения сайта по позициям.
                                    ul 
                                        li Увеличение количества визитов из поисковых систем
                                        li Улучшение видимости ресурса поисковыми системами
                                        li Увеличение количества обращений через сайт
                                .cases-card__result
                                    p.text-small.title Результат:
                                    p.text-small 
                                        span.big 85% 
                                        | запросов обширного семантического ядра выведено в ТОП-10 поисковой системы Яндекс
                                    p.text-small 
                                        span в
                                        span.big 12
                                        span &nbsp;раз&nbsp;
                                        | увеличился трафик на сайт
            .swiper-pagination