.book
    .container 
        .book-row.d-f.ai-c
            img(src="./images/book.png", alt="book").book-image
            .book-content
                h2 Вооружение отделов продаж
                .book-content--text.d-f
                    p.book-content--light 99 работающих инструментов, которые помогут увеличить продажи вашей компании. Четкие этапы, прозрачная навигация позволяют полностью удерживать ситуацию в своих руках.
                    div
                        p Если Вы закажете и оплатите продвижение своего сайта, то получите в подарок книгу с персональным АВТОГРАФОМ!
                        button.btn.btn-secondary Хочу получить подарок
