footer 
    .container
        .footer-row.d-f.jc-sb 
            .footer-top
                a(href="/").footer-top--col
                    img(src="./images/logo-light.svg", alt="logo")
                div.footer-top--col
                    .footer-region
                        span Ваш регион: &nbsp;
                        a(href="") Тула
                    .footer-address
                        a(href="tel:+74952236659") +7 (495) 223-66-59
                        p г. Тула, ул. Пушкинская, 27
                    .footer-requisites.d-f.flex-column
                        span ИНН 123456789
                        span ОГРН 123456789010
                .footer-social.footer-top--col
                    a(href="") 
                        img(src="./images/vk.svg", alt="vk")
                    a(href="") 
                        img(src="./images/telegram.svg", alt="telegram")
            .footer-col
                span.footer-title УВЕЛИЧЕНИЕ ПРОДАЖ ДЛЯ ВАШЕГО БИЗНЕСА
                ul 
                    li SEO
                    li Тариф «Трафик»
                    li Тариф «Объем работ»
                    li Тариф «Лиды / CPA»
                    li Тариф «SEO + Контекст»
                    li Комплексное SEO
                    li Для интернет-магазина
                    li Продвижение в Яндекс
                    li Продвижение в Google
                    li Разовые работы
                    li SEO-аудит сайтов
                    li Вывод из-под санкций
            .footer-col
                span.footer-title РАЗРАБОТКА И ПОДДЕРЖКА САЙТОВ
                ul 
                    li Разработка
                    li На 1С-Битрикс
                    li На WordPress
                    li На Tilda
                    li Сайт-визитка
                    li Интернет-магазин
                    li Проектирование
                    li Поддержка сайтов
                    li Внесение дорабток
            .footer-col
                span.footer-title КОМПАНИЯ <br> «ДОМ САЙТОВ»
                ul 
                    li Клиенты и отзывы
                    li Контакты
                    li Работа в Demis Group
                    li Личный кабинет
                    li Статьи
                    li Публичная оферта
                    li Партнерская программа
                    li Гарантии
                    li Внесение дорабток
        .footer-bottom.d-f.jc-sb.ai-c
            span &copy; 2008-<script type="text/javascript">var mdate = new Date(); document.write(mdate.getFullYear());</script> Компания «ДОМ САЙТОВ»
            .footer-bottom-link.d-f
                a(href="") Карта сайта 
                span &nbsp; | &nbsp;
                a(href="") Политика конфиденциальности


