mixin main-structure-top()
    <!DOCTYPE html>
    <html lang="ru">
    include head/head.pug

    <body>
        include header/header.pug


mixin main-structure-bottom()
    include footer/footer.pug
    include scripts/scripts.pug
</body>
</html>