.work
    .container
        h2 Как начать с нами работать
        #tabs-work.tabs
            .tabs-title.d-f
                p.tabs-title-item.active Заявка
                p.tabs-title-item Коммерческое предложение
                p.tabs-title-item Начало работ
                p.tabs-title-item Контроль качества
                p.tabs-title-item Гарантированный результат
            .tabs-content.d-f
                .tabs-item.hide.show
                    .tabs-item__work.d-f.jc-sb
                        .tabs-item__work-text
                            p.text-small Если Вы точно знаете, какие услуги необходимы для Вашего бизнеса, то:
                            ul 
                                li Заполните форму заявки на Коммерческое предложение - это займёт менее минуты;
                                li Мы подберём для Вас выгодное предложение и обсудим детали реализации;
                                li Либо просто позвоните нашему специалисту: 
                                    a(href="tel:+74872792910")  +7 (4872) 79-29-10
                                li Мы предлогаем комплекстный подход и разрабатываем уникальные стратегии для достижения целей Вашего бизнеса;
                                li Используем все интструменты digital-маркетинга для того, что добиться максимальных результатов;
                                li Предложим только результативные каналы продвижения Вашего бизнеса.
                        .tabs-item__work-image(style='background:url("images/work-1.png") no-repeat top / cover')
                .tabs-item.hide
                    .tabs-item__work.d-f.jc-sb
                        .tabs-item__work-text
                            p.text-small Если Вы точно знаете, какие услуги необходимы для Вашего бизнеса, то:
                            ul 
                                li Заполните форму заявки на Коммерческое предложение - это займёт менее минуты;
                                li Мы подберём для Вас выгодное предложение и обсудим детали реализации;
                                li Либо просто позвоните нашему специалисту: 
                                    a(href="tel:+74872792910")  +7 (4872) 79-29-10
                                li Мы предлогаем комплекстный подход и разрабатываем уникальные стратегии для достижения целей Вашего бизнеса;
                                li Используем все интструменты digital-маркетинга для того, что добиться максимальных результатов;
                                li Предложим только результативные каналы продвижения Вашего бизнеса.
                        .tabs-item__work-image(style='background:url("images/work-2.png") no-repeat top / cover')
                .tabs-item.hide
                    .tabs-item__work.d-f.jc-sb
                        .tabs-item__work-text
                            p.text-small Если Вы точно знаете, какие услуги необходимы для Вашего бизнеса, то:
                            ul 
                                li Заполните форму заявки на Коммерческое предложение - это займёт менее минуты;
                                li Мы подберём для Вас выгодное предложение и обсудим детали реализации;
                                li Либо просто позвоните нашему специалисту: 
                                    a(href="tel:+74872792910")  +7 (4872) 79-29-10
                                li Мы предлогаем комплекстный подход и разрабатываем уникальные стратегии для достижения целей Вашего бизнеса;
                                li Используем все интструменты digital-маркетинга для того, что добиться максимальных результатов;
                                li Предложим только результативные каналы продвижения Вашего бизнеса.
                        .tabs-item__work-image(style='background:url("images/work-3.png") no-repeat top / cover')
                .tabs-item.hide
                    .tabs-item__work.d-f.jc-sb
                        .tabs-item__work-text
                            p.text-small Если Вы точно знаете, какие услуги необходимы для Вашего бизнеса, то:
                            ul 
                                li Заполните форму заявки на Коммерческое предложение - это займёт менее минуты;
                                li Мы подберём для Вас выгодное предложение и обсудим детали реализации;
                                li Либо просто позвоните нашему специалисту: 
                                    a(href="tel:+74872792910")  +7 (4872) 79-29-10
                                li Мы предлогаем комплекстный подход и разрабатываем уникальные стратегии для достижения целей Вашего бизнеса;
                                li Используем все интструменты digital-маркетинга для того, что добиться максимальных результатов;
                                li Предложим только результативные каналы продвижения Вашего бизнеса.
                        .tabs-item__work-image(style='background:url("images/work-4.png") no-repeat top / cover')
                .tabs-item.hide
                    .tabs-item__work.d-f.jc-sb
                        .tabs-item__work-text
                            p.text-small Если Вы точно знаете, какие услуги необходимы для Вашего бизнеса, то:
                            ul 
                                li Заполните форму заявки на Коммерческое предложение - это займёт менее минуты;
                                li Мы подберём для Вас выгодное предложение и обсудим детали реализации;
                                li Либо просто позвоните нашему специалисту: 
                                    a(href="tel:+74872792910")  +7 (4872) 79-29-10
                                li Мы предлогаем комплекстный подход и разрабатываем уникальные стратегии для достижения целей Вашего бизнеса;
                                li Используем все интструменты digital-маркетинга для того, что добиться максимальных результатов;
                                li Предложим только результативные каналы продвижения Вашего бизнеса.
                        .tabs-item__work-image(style='background:url("images/work-5.png") no-repeat top / cover')