.offer(style='background:url("images/sales.png") no-repeat top / cover')
    .container 
        h2 Хотите увеличить продажи?
        p.offer-utp Мы точно знаем, как привести на Ваш сайт клиентов! Оставьте заявку и получите индивидуальное предложение с привлекательной ценой.
        button.btn.btn-secondary Получить коммерческое предложение