.home(style='background:url("images/main.png") no-repeat top / cover')
    .container 
        h1 Комплексный интернет-маркетинг
        p.home-utp Мы помогаем бизнесу находить клиентов быстрее, интегрируя маркетинговые, обучающие и технологические продукты
        .home-button.d-f.ai-c
            button.btn.btn-secondary Заказать увеличение продаж
            button.btn.btn-light Заказать экспертный аудит