include ../../../image/rub.pug
include ../../../image/discont.pug
include ../../../image/present.pug
include ../../../image/arrow-long.pug
.solutions#_solutions
    .container
        h2 Лучшие решения для увеличения продаж
        .solutions-row.d-f.flex-wrap
            .solutions-col
                .solution.flex-column.jc-sb
                    div
                        .solution-image(style='background:url("images/solution-1.png") no-repeat top / cover')
                        .solution-content
                            h3 Продвижение в Яндекс <br>и Google (SEO)
                            p.text-small Увеличим Ваши продажи, количество звонков и заявок за счет оптимизации сайта. Поднимем в ТОП и увеличим трафик.
                            .solution-price.d-f.ai-c
                                +rub({})
                                p от 
                                    span 23 360 руб.
                            .solution-discont.d-f
                                +discont({})
                                div   
                                    p.solution-discont--old 58 750 руб.
                                    p Суперцена только в мае!
                    .solution-more.d-f.ai-c.jc-fe
                        a(href="").d-f.ai-c Подробнее
                            +arrow-long({})
            .solutions-col
                .solution.flex-column.jc-sb
                    div
                        .solution-image(style='background:url("images/solution-2.png") no-repeat top / cover')
                        .solution-content
                            h3 Контекстная реклама
                            p.text-small Повысим Ваши продажи, увеличим охват аудитории, количество звонков и заявок за счет привлечения только целевого трафика.
                            .solution-price.d-f.ai-c
                                +rub({})
                                p от 
                                    span 30 000 руб.
                            .solution-discont.d-f
                                +discont({})
                                div   
                                    p Месяц CallTouch 
                                        span В ПОДАРОК 
                                        | при контекстной рекламе <br> от 100 000 руб.
                    .solution-more.d-f.ai-c.jc-fe
                        a(href="").d-f.ai-c Подробнее
                            +arrow-long({})
            .solutions-col
                .solution.flex-column.jc-sb
                    div
                        .solution-image(style='background:url("images/solution-3.png") no-repeat center / cover')
                        .solution-content
                            h3 Продвижение <br> в социальных сетях
                            p.text-small Увеличим Ваши продажи за счет интерактивного взаимодействия с клиентами в социальных сетях.
                            .solution-price.d-f.ai-c
                                +rub({})
                                p от 
                                    span 50 360 руб.
                            .solution-discont.d-f
                                +discont({})
                                div   
                                    p.solution-discont--old 168 000 руб.
                                    p Суперцена только в мае!
                    .solution-more.d-f.ai-c.jc-fe
                        a(href="").d-f.ai-c Подробнее
                            +arrow-long({})
            .solutions-col
                .solution.flex-column.jc-sb
                    div
                        .solution-image(style='background:url("images/solution-4.png") no-repeat center / cover')
                        .solution-content
                            h3 SERM — управление репутацией в интернете
                            p.text-small Удалим негатив, разместим положительные отзывы, увеличим продажи и повысим доверие <br> клиентов.
                            .solution-price.d-f.ai-c
                                +rub({})
                                p от 
                                    span 34 900 руб.
                            .solution-discont.d-f
                                +discont({})
                                div   
                                    p.solution-discont--old 58 750 руб.
                                    p Суперцена только в мае!
                    .solution-more.d-f.ai-c.jc-fe
                        a(href="").d-f.ai-c Подробнее
                            +arrow-long({})
            .solutions-col
                .solution.flex-column.jc-sb
                    div
                        .solution-image(style='background:url("images/solution-5.png") no-repeat center / cover')
                        .solution-content
                            h3 улучшение продающих качеств сайта
                            p.text-small Сделаем Ваш сайт удобным<br> для пользования.  <br>Увеличим продажи, количество  <br> заявоки звонков.
                            .solution-price.d-f.ai-c
                                +rub({})
                                p от 
                                    span 210 000 руб.
                            .solution-discont.d-f
                                +discont({})
                                div   
                                    p.solution-discont--old 224 000 руб.
                                    p 
                                        span БЕСПЛАТНО 
                                        | при оплате SEO в мае.
                    .solution-more.d-f.ai-c.jc-fe
                        a(href="").d-f.ai-c Подробнее
                            +arrow-long({})
            .solutions-col
                .solution.flex-column.jc-sb
                    div
                        .solution-image(style='background:url("images/solution-6.png") no-repeat center / cover')
                        .solution-content
                            h3 Создание сайта
                            p.text-small Современный привлекательный сайт способствует выводу сайта в ТОП и росту продаж.
                            .solution-price.d-f.ai-c
                                +rub({})
                                p от 
                                    span 315 000 руб.
                            .solution-discont.d-f
                                +discont({})
                                div   
                                    p.solution-discont--old 409 500 руб.
                                    p Суперцена только в мае!
                    .solution-more.d-f.ai-c.jc-fe
                        a(href="").d-f.ai-c Подробнее
                            +arrow-long({})                    