include ../../../image/arrow-slider.pug
.reviews#_reviews
    .container 
        h2 Отзывы наших клиентов
        .reviews-slider
            .swiper
                .swiper-wrapper
                    .swiper-slide 
                    .swiper-slide 
                    .swiper-slide 
                    .swiper-slide 
                    .swiper-slide 
                    .swiper-slide 
                    .swiper-slide 
                    .swiper-slide 
                    .swiper-slide 
                    .swiper-slide 
                    .swiper-slide 
                    .swiper-slide 
            .swiper-button-next
                +arrow-slider({})
            .swiper-button-prev
                +arrow-slider({})
        button.btn.btn-primary.reviews-btn Смотреть все отзывы