
include components/structure-page/main.pug

+main-structure-top()

include components/pages/main-page/home/home.pug
include components/pages/main-page/packages/packages.pug
include components/pages/main-page/advantage/advantage.pug
include components/pages/main-page/solutions/solutions.pug
include components/pages/main-page/cases/cases.pug
include components/pages/main-page/offer/offer.pug
include components/pages/main-page/about/about.pug
include components/pages/main-page/team/team.pug
include components/pages/main-page/result/result.pug
include components/pages/main-page/client/client.pug
include components/pages/main-page/reviews/reviews.pug
include components/pages/main-page/work/work.pug
include components/pages/main-page/book/book.pug
include components/pages/main-page/form/form.pug

+main-structure-bottom()