mixin present({})
    svg(width='38' height='38' viewbox='0 0 38 38' fill='none' xmlns='http://www.w3.org/2000/svg')
        g(opacity='0.3' clip-path='url(#clip0_1_429)')
            path(d='M37.9999 11.8932C37.9999 10.5816 36.9366 9.51823 35.625 9.51823H31.5709C32.62 8.48333 33.2916 7.12664 33.2916 5.45579C33.2916 3.39845 32.11 1.16357 28.7933 1.16357C24.4292 1.16357 20.7836 5.81026 19.0707 8.41504C17.3565 5.81086 13.5992 1.16417 9.23578 1.16417C5.91909 1.16417 4.73753 3.39904 4.73753 5.45639C4.73753 7.12661 5.42747 8.48392 6.498 9.51882H2.375C1.06341 9.51882 0 10.5822 0 11.8938V19.0028H2.39578V34.4611C2.39578 35.7727 3.45915 36.8361 4.77078 36.8361H33.2589C34.5705 36.8361 35.6339 35.7727 35.6339 34.4611V19.0022H38V11.8932H37.9999Z' fill='#FF5900')
            path(fill-rule='evenodd' clip-rule='evenodd' d='M28.7934 3.53955C30.2617 3.53955 30.9166 4.15649 30.9166 5.45681C30.9166 8.09484 27.9722 9.51802 25.2029 9.51802H21.1827C22.8701 7.0118 25.84 3.53955 28.7934 3.53955ZM9.23578 3.53959C12.1897 3.53959 15.2718 7.01184 16.9592 9.51746H12.9378C10.1685 9.51746 7.11249 8.05743 7.11249 5.4194C7.11249 4.11968 7.7674 3.53959 9.23578 3.53959ZM35.625 16.6276H20.1875V11.8936H35.625V16.6276ZM2.375 11.8936H17.8125V16.6276H2.375V11.8936Z' fill='white')
            path(d='M4.77078 19.0026H17.8125V34.4609H4.77078V19.0026Z' fill='white')
            path(d='M33.2595 34.4609H20.1875V19.0026H33.2595V34.4609Z' fill='white')
        defs
            clippath#clip0_1_429
            rect(width='38' height='38' fill='white')


